In [2]:
#Import libraries we will use in the analysis
import numpy as np
import pandas as pd
import yfinance as yf
import datetime as dt
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup
import inspect
from tqdm import tqdm

In [64]:
#Set starting and ending date for dowloading data from Yahoo Finance
start = dt.datetime(2000, 1, 1).strftime('%Y-%m-%d')
end = dt.datetime.now().strftime('%Y-%m-%d')
print(start, end)

2000-01-01 2024-03-14

In [4]:
#Get the list of tickers from the S&P 500
from fetch_sp500 import tickers_sp500
tickers = tickers_sp500()
tickers = tickers[:500]

In [6]:
#Fetch and save the prices for the tickers
from fetch_sp500 import fetch_and_save_prices
prices = fetch_and_save_prices(tickers)
prices.head()

[*********************100%%**********************]  500 of 500 completed

Price       Adj Close                                                  \
Ticker              A AAL      AAPL ABBV ABNB       ABT      ACGL ACN
Date
2000-01-03  43.683868 NaN  0.846127  NaN  NaN  9.037448  1.277778 NaN
2000-01-04  40.346893 NaN  0.774790  NaN  NaN  8.779237  1.270833 NaN
2000-01-05  37.844181 NaN  0.786128  NaN  NaN  8.763097  1.388889 NaN
2000-01-06  36.403214 NaN  0.718097  NaN  NaN  9.069725  1.375000 NaN
2000-01-07  39.436821 NaN  0.752113  NaN  NaN  9.166553  1.451389 NaN

Price                             ...   Volume                          \
Ticker           ADBE        ADI  ...       WY WYNN      XEL       XOM
Date                              ...
2000-01-03  16.274673  28.438272  ...   973700  NaN  2738600  13458200
2000-01-04  14.909399  26.999634  ...  1201700  NaN   425200  14510800
2000-01-05  15.204171  27.393772  ...  1184600  NaN   500200  17485000
2000-01-06  15.328289  26.644892  ...  1307700  NaN   344100  19461600
2000-01-07  16.072983  27.393772  ...  1728000  NaN   469500  16603800

Price
Ticker         XRAY XYL      YUM ZBH     ZBRA     ZION
Date
2000-01-03   582300 NaN  3033493 NaN  1055700  1199600
2000-01-04   317700 NaN  3315031 NaN   522450   816100
2000-01-05  1188000 NaN  4642602 NaN   612225  1124700
2000-01-06   534300 NaN  3947658 NaN   263925  1112100
2000-01-07  1401000 NaN  6063647 NaN   333900   782000

[5 rows x 3000 columns]

In [5]:
#load the data from the saved csv file
prices = pd.read_csv('sp500_prices_from_2000-01-01_to_2024-03-14.csv', header=[0, 1], index_col=0)
prices.head()

Price       Adj Close                                                  \
Ticker              A AAL      AAPL ABBV ABNB       ABT      ACGL ACN
Date
2000-01-03  43.683868 NaN  0.846127  NaN  NaN  9.037448  1.277778 NaN
2000-01-04  40.346893 NaN  0.774790  NaN  NaN  8.779237  1.270833 NaN
2000-01-05  37.844181 NaN  0.786128  NaN  NaN  8.763097  1.388889 NaN
2000-01-06  36.403214 NaN  0.718097  NaN  NaN  9.069725  1.375000 NaN
2000-01-07  39.436821 NaN  0.752113  NaN  NaN  9.166553  1.451389 NaN

Price                             ...   Volume                          \
Ticker           ADBE        ADI  ...       WY WYNN      XEL       XOM
Date                              ...
2000-01-03  16.274673  28.438272  ...   973700  NaN  2738600  13458200
2000-01-04  14.909399  26.999634  ...  1201700  NaN   425200  14510800
2000-01-05  15.204171  27.393772  ...  1184600  NaN   500200  17485000
2000-01-06  15.328289  26.644892  ...  1307700  NaN   344100  19461600
2000-01-07  16.072983  27.393772  ...  1728000  NaN   469500  16603800

Price
Ticker         XRAY XYL      YUM ZBH     ZBRA     ZION
Date
2000-01-03   582300 NaN  3033493 NaN  1055700  1199600
2000-01-04   317700 NaN  3315031 NaN   522450   816100
2000-01-05  1188000 NaN  4642602 NaN   612225  1124700
2000-01-06   534300 NaN  3947658 NaN   263925  1112100
2000-01-07  1401000 NaN  6063647 NaN   333900   782000

[5 rows x 3000 columns]

In [9]:
## get AAPL data
ticker = 'AAPL'
comp_price = prices.xs(ticker, axis=1, level=1, drop_level=True)
comp_price.head()

Price       Adj Close     Close      High       Low      Open     Volume
Date
2000-01-03   0.846127  0.999442  1.004464  0.907924  0.936384  535796800
2000-01-04   0.774790  0.915179  0.987723  0.903460  0.966518  512377600
2000-01-05   0.786128  0.928571  0.987165  0.919643  0.926339  778321600
2000-01-06   0.718097  0.848214  0.955357  0.848214  0.947545  767972800
2000-01-07   0.752113  0.888393  0.901786  0.852679  0.861607  460734400

In [98]:
## get the data of specific period
period_price = comp_price.loc['2020-01-01':'2021-01-01']
period_price.head()

Price       Adj Close      Close       High        Low       Open     Volume
Date
2020-01-02  73.059425  75.087502  75.150002  73.797501  74.059998  135480400
2020-01-03  72.349136  74.357498  75.144997  74.125000  74.287498  146322800
2020-01-06  72.925613  74.949997  74.989998  73.187500  73.447502  118387200
2020-01-07  72.582642  74.597504  75.224998  74.370003  74.959999  108872000
2020-01-08  73.750244  75.797501  76.110001  74.290001  74.290001  132079200

In [99]:
period_price_oc = period_price[['Open', 'Close']]
period_price_oc.head()

Price            Open      Close
Date
2020-01-02  74.059998  75.087502
2020-01-03  74.287498  74.357498
2020-01-06  73.447502  74.949997
2020-01-07  74.959999  74.597504
2020-01-08  74.290001  75.797501

In [100]:
period_price_oc.columns.name = None
period_price_oc.head()

                 Open      Close
Date
2020-01-02  74.059998  75.087502
2020-01-03  74.287498  74.357498
2020-01-06  73.447502  74.949997
2020-01-07  74.959999  74.597504
2020-01-08  74.290001  75.797501

In [101]:
period_price_oc.index.name = None
period_price_oc.head()

                 Open      Close
2020-01-02  74.059998  75.087502
2020-01-03  74.287498  74.357498
2020-01-06  73.447502  74.949997
2020-01-07  74.959999  74.597504
2020-01-08  74.290001  75.797501

In [102]:
period_price_oc.index.name = 'Date'
period_price_oc.head()

                 Open      Close
Date
2020-01-02  74.059998  75.087502
2020-01-03  74.287498  74.357498
2020-01-06  73.447502  74.949997
2020-01-07  74.959999  74.597504
2020-01-08  74.290001  75.797501

In [103]:
period_price_oc.reset_index(inplace=True)
period_price_oc.head()

         Date       Open      Close
0  2020-01-02  74.059998  75.087502
1  2020-01-03  74.287498  74.357498
2  2020-01-06  73.447502  74.949997
3  2020-01-07  74.959999  74.597504
4  2020-01-08  74.290001  75.797501

In [104]:
period_price_oc.set_index('Date', inplace=True)
period_price_oc.head()

                 Open      Close
Date
2020-01-02  74.059998  75.087502
2020-01-03  74.287498  74.357498
2020-01-06  73.447502  74.949997
2020-01-07  74.959999  74.597504
2020-01-08  74.290001  75.797501

In [105]:
period_price_oc.reset_index(inplace=True)
period_price_oc.head()

         Date       Open      Close
0  2020-01-02  74.059998  75.087502
1  2020-01-03  74.287498  74.357498
2  2020-01-06  73.447502  74.949997
3  2020-01-07  74.959999  74.597504
4  2020-01-08  74.290001  75.797501

In [106]:
s = period_price_oc.to_string(header=True, index=False)
print(s)

      Date       Open      Close
2020-01-02  74.059998  75.087502
2020-01-03  74.287498  74.357498
2020-01-06  73.447502  74.949997
2020-01-07  74.959999  74.597504
2020-01-08  74.290001  75.797501
2020-01-09  76.809998  77.407501
2020-01-10  77.650002  77.582497
2020-01-13  77.910004  79.239998
2020-01-14  79.175003  78.169998
2020-01-15  77.962502  77.834999
2020-01-16  78.397499  78.809998
2020-01-17  79.067497  79.682503
2020-01-21  79.297501  79.142502
2020-01-22  79.644997  79.425003
2020-01-23  79.480003  79.807503
2020-01-24  80.062500  79.577499
2020-01-27  77.514999  77.237503
2020-01-28  78.150002  79.422501
2020-01-29  81.112503  81.084999
2020-01-30  80.135002  80.967499
2020-01-31  80.232498  77.377502
2020-02-03  76.074997  77.165001
2020-02-04  78.827499  79.712502
2020-02-05  80.879997  80.362503
2020-02-06  80.642502  81.302498
2020-02-07  80.592499  80.007500
2020-02-10  78.544998  80.387497
2020-02-11  80.900002  79.902496
2020-02-12  80.367500  81.800003
2020-02-13  81.047501  81.217499
2020-02-14  81.184998  81.237503
2020-02-18  78.839996  79.750000
2020-02-19  80.000000  80.904999
2020-02-20  80.657501  80.074997
2020-02-21  79.654999  78.262497
2020-02-24  74.315002  74.544998
2020-02-25  75.237503  72.019997
2020-02-26  71.632500  73.162498
2020-02-27  70.275002  68.379997
2020-02-28  64.315002  68.339996
2020-03-02  70.570000  74.702499
2020-03-03  75.917503  72.330002
2020-03-04  74.110001  75.684998
2020-03-05  73.879997  73.230003
2020-03-06  70.500000  72.257500
2020-03-09  65.937500  66.542503
2020-03-10  69.285004  71.334999
2020-03-11  69.347504  68.857498
2020-03-12  63.985001  62.057499
2020-03-13  66.222504  69.492500
2020-03-16  60.487499  60.552502
2020-03-17  61.877499  63.215000
2020-03-18  59.942501  61.667500
2020-03-19  61.847500  61.195000
2020-03-20  61.794998  57.310001
2020-03-23  57.020000  56.092499
2020-03-24  59.090000  61.720001
2020-03-25  62.687500  61.380001
2020-03-26  61.630001  64.610001
2020-03-27  63.187500  61.935001
2020-03-30  62.685001  63.702499
2020-03-31  63.900002  63.572498
2020-04-01  61.625000  60.227501
2020-04-02  60.084999  61.232498
2020-04-03  60.700001  60.352501
2020-04-06  62.724998  65.617500
2020-04-07  67.699997  64.857498
2020-04-08  65.684998  66.517502
2020-04-09  67.175003  66.997498
2020-04-13  67.077499  68.312500
2020-04-14  70.000000  71.762497
2020-04-15  70.599998  71.107498
2020-04-16  71.845001  71.672501
2020-04-17  71.172501  70.699997
2020-04-20  69.487503  69.232498
2020-04-21  69.070000  67.092499
2020-04-22  68.402496  69.025002
2020-04-23  68.967499  68.757500
2020-04-24  69.300003  70.742500
2020-04-27  70.449997  70.792503
2020-04-28  71.269997  69.644997
2020-04-29  71.182503  71.932503
2020-04-30  72.489998  73.449997
2020-05-01  71.562500  72.267502
2020-05-04  72.292503  73.290001
2020-05-05  73.764999  74.389999
2020-05-06  75.114998  75.157501
2020-05-07  75.805000  75.934998
2020-05-08  76.410004  77.532501
2020-05-11  77.025002  78.752502
2020-05-12  79.457497  77.852501
2020-05-13  78.037498  76.912498
2020-05-14  76.127502  77.385002
2020-05-15  75.087502  76.927498
2020-05-18  78.292503  78.739998
2020-05-19  78.757500  78.285004
2020-05-20  79.169998  79.807503
2020-05-21  79.665001  79.212502
2020-05-22  78.942497  79.722504
2020-05-26  80.875000  79.182503
2020-05-27  79.035004  79.527496
2020-05-28  79.192497  79.562500
2020-05-29  79.812500  79.485001
2020-06-01  79.437500  80.462502
2020-06-02  80.187500  80.834999
2020-06-03  81.165001  81.279999
2020-06-04  81.097504  80.580002
2020-06-05  80.837502  82.875000
2020-06-08  82.562500  83.364998
2020-06-09  83.035004  85.997498
2020-06-10  86.974998  88.209999
2020-06-11  87.327499  83.974998
2020-06-12  86.180000  84.699997
2020-06-15  83.312500  85.747498
2020-06-16  87.864998  88.019997
2020-06-17  88.787498  87.897499
2020-06-18  87.852501  87.932503
2020-06-19  88.660004  87.430000
2020-06-22  87.834999  89.717499
2020-06-23  91.000000  91.632500
2020-06-24  91.250000  90.014999
2020-06-25  90.175003  91.209999
2020-06-26  91.102501  88.407501
2020-06-29  88.312500  90.445000
2020-06-30  90.019997  91.199997
2020-07-01  91.279999  91.027496
2020-07-02  91.962502  91.027496
2020-07-06  92.500000  93.462502
2020-07-07  93.852501  93.172501
2020-07-08  94.180000  95.342499
2020-07-09  96.262497  95.752502
2020-07-10  95.334999  95.919998
2020-07-13  97.264999  95.477501
2020-07-14  94.839996  97.057503
2020-07-15  98.989998  97.724998
2020-07-16  96.562500  96.522499
2020-07-17  96.987503  96.327499
2020-07-20  96.417503  98.357498
2020-07-21  99.172501  97.000000
2020-07-22  96.692497  97.272499
2020-07-23  96.997498  92.845001
2020-07-24  90.987503  92.614998
2020-07-27  93.709999  94.809998
2020-07-28  94.367500  93.252502
2020-07-29  93.750000  95.040001
2020-07-30  94.187500  96.190002
2020-07-31 102.885002 106.260002
2020-08-03 108.199997 108.937500
2020-08-04 109.132500 109.665001
2020-08-05 109.377502 110.062500
2020-08-06 110.404999 113.902496
2020-08-07 113.205002 111.112503
2020-08-10 112.599998 112.727501
2020-08-11 111.970001 109.375000
2020-08-12 110.497498 113.010002
2020-08-13 114.430000 115.010002
2020-08-14 114.830002 114.907501
2020-08-17 116.062500 114.607498
2020-08-18 114.352501 115.562500
2020-08-19 115.982498 115.707497
2020-08-20 115.750000 118.275002
2020-08-21 119.262497 124.370003
2020-08-24 128.697495 125.857498
2020-08-25 124.697502 124.824997
2020-08-26 126.180000 126.522499
2020-08-27 127.142502 125.010002
2020-08-28 126.012497 124.807503
2020-08-31 127.580002 129.039993
2020-09-01 132.759995 134.179993
2020-09-02 137.589996 131.399994
2020-09-03 126.910004 120.879997
2020-09-04 120.070000 120.959999
2020-09-08 113.949997 112.820000
2020-09-09 117.260002 117.320000
2020-09-10 120.360001 113.489998
2020-09-11 114.570000 112.000000
2020-09-14 114.720001 115.360001
2020-09-15 118.330002 115.540001
2020-09-16 115.230003 112.129997
2020-09-17 109.720001 110.339996
2020-09-18 110.400002 106.839996
2020-09-21 104.540001 110.080002
2020-09-22 112.680000 111.809998
2020-09-23 111.620003 107.120003
2020-09-24 105.169998 108.220001
2020-09-25 108.430000 112.279999
2020-09-28 115.010002 114.959999
2020-09-29 114.550003 114.089996
2020-09-30 113.790001 115.809998
2020-10-01 117.639999 116.790001
2020-10-02 112.889999 113.019997
2020-10-05 113.910004 116.500000
2020-10-06 115.699997 113.160004
2020-10-07 114.620003 115.080002
2020-10-08 116.250000 114.970001
2020-10-09 115.279999 116.970001
2020-10-12 120.059998 124.400002
2020-10-13 125.269997 121.099998
2020-10-14 121.000000 121.190002
2020-10-15 118.720001 120.709999
2020-10-16 121.279999 119.019997
2020-10-19 119.959999 115.980003
2020-10-20 116.199997 117.510002
2020-10-21 116.669998 116.870003
2020-10-22 117.449997 115.750000
2020-10-23 116.389999 115.040001
2020-10-26 114.010002 115.050003
2020-10-27 115.489998 116.599998
2020-10-28 115.050003 111.199997
2020-10-29 112.370003 115.320000
2020-10-30 111.059998 108.860001
2020-11-02 109.110001 108.769997
2020-11-03 109.660004 110.440002
2020-11-04 114.139999 114.949997
2020-11-05 117.949997 119.029999
2020-11-06 118.320000 118.690002
2020-11-09 120.500000 116.320000
2020-11-10 115.550003 115.970001
2020-11-11 117.190002 119.489998
2020-11-12 119.620003 119.209999
2020-11-13 119.440002 119.260002
2020-11-16 118.919998 120.300003
2020-11-17 119.550003 119.389999
2020-11-18 118.610001 118.029999
2020-11-19 117.589996 118.639999
2020-11-20 118.639999 117.339996
2020-11-23 117.180000 113.849998
2020-11-24 113.910004 115.169998
2020-11-25 115.550003 116.029999
2020-11-27 116.570000 116.589996
2020-11-30 116.970001 119.050003
2020-12-01 121.010002 122.720001
2020-12-02 122.019997 123.080002
2020-12-03 123.519997 122.940002
2020-12-04 122.599998 122.250000
2020-12-07 122.309998 123.750000
2020-12-08 124.370003 124.379997
2020-12-09 124.529999 121.779999
2020-12-10 120.500000 123.239998
2020-12-11 122.430000 122.410004
2020-12-14 122.599998 121.779999
2020-12-15 124.339996 127.879997
2020-12-16 127.410004 127.809998
2020-12-17 128.899994 128.699997
2020-12-18 128.960007 126.660004
2020-12-21 125.019997 128.229996
2020-12-22 131.610001 131.880005
2020-12-23 132.160004 130.960007
2020-12-24 131.320007 131.970001
2020-12-28 133.990005 136.690002
2020-12-29 138.050003 134.869995
2020-12-30 135.580002 133.720001
2020-12-31 134.080002 132.690002

In [107]:
narrative = '\n'.join([
    f"On {row.Date}, the stock opened at {row.Open} and closed at {row.Close}."
    for row in period_price_oc.itertuples()
])
print(narrative)

On 2020-01-02, the stock opened at 74.05999755859375 and closed at 75.0875015258789.
On 2020-01-03, the stock opened at 74.2874984741211 and closed at 74.35749816894531.
On 2020-01-06, the stock opened at 73.44750213623047 and closed at 74.94999694824219.
On 2020-01-07, the stock opened at 74.95999908447266 and closed at 74.59750366210938.
On 2020-01-08, the stock opened at 74.29000091552734 and closed at 75.79750061035156.
On 2020-01-09, the stock opened at 76.80999755859375 and closed at 77.40750122070312.
On 2020-01-10, the stock opened at 77.6500015258789 and closed at 77.5824966430664.
On 2020-01-13, the stock opened at 77.91000366210938 and closed at 79.23999786376953.
On 2020-01-14, the stock opened at 79.17500305175781 and closed at 78.16999816894531.
On 2020-01-15, the stock opened at 77.9625015258789 and closed at 77.83499908447266.
On 2020-01-16, the stock opened at 78.39749908447266 and closed at 78.80999755859375.
On 2020-01-17, the stock opened at 79.06749725341797 and closed at 79.68250274658203.
On 2020-01-21, the stock opened at 79.29750061035156 and closed at 79.14250183105469.
On 2020-01-22, the stock opened at 79.6449966430664 and closed at 79.42500305175781.
On 2020-01-23, the stock opened at 79.4800033569336 and closed at 79.80750274658203.
On 2020-01-24, the stock opened at 80.0625 and closed at 79.57749938964844.
On 2020-01-27, the stock opened at 77.51499938964844 and closed at 77.23750305175781.
On 2020-01-28, the stock opened at 78.1500015258789 and closed at 79.42250061035156.
On 2020-01-29, the stock opened at 81.11250305175781 and closed at 81.08499908447266.
On 2020-01-30, the stock opened at 80.13500213623047 and closed at 80.96749877929688.
On 2020-01-31, the stock opened at 80.23249816894531 and closed at 77.37750244140625.
On 2020-02-03, the stock opened at 76.07499694824219 and closed at 77.16500091552734.
On 2020-02-04, the stock opened at 78.82749938964844 and closed at 79.7125015258789.
On 2020-02-05, the stock opened at 80.87999725341797 and closed at 80.36250305175781.
On 2020-02-06, the stock opened at 80.64250183105469 and closed at 81.30249786376953.
On 2020-02-07, the stock opened at 80.59249877929688 and closed at 80.00749969482422.
On 2020-02-10, the stock opened at 78.54499816894531 and closed at 80.38749694824219.
On 2020-02-11, the stock opened at 80.9000015258789 and closed at 79.90249633789062.
On 2020-02-12, the stock opened at 80.36750030517578 and closed at 81.80000305175781.
On 2020-02-13, the stock opened at 81.04750061035156 and closed at 81.21749877929688.
On 2020-02-14, the stock opened at 81.18499755859375 and closed at 81.23750305175781.
On 2020-02-18, the stock opened at 78.83999633789062 and closed at 79.75.
On 2020-02-19, the stock opened at 80.0 and closed at 80.90499877929688.
On 2020-02-20, the stock opened at 80.65750122070312 and closed at 80.07499694824219.
On 2020-02-21, the stock opened at 79.65499877929688 and closed at 78.26249694824219.
On 2020-02-24, the stock opened at 74.31500244140625 and closed at 74.54499816894531.
On 2020-02-25, the stock opened at 75.23750305175781 and closed at 72.0199966430664.
On 2020-02-26, the stock opened at 71.63249969482422 and closed at 73.1624984741211.
On 2020-02-27, the stock opened at 70.2750015258789 and closed at 68.37999725341797.
On 2020-02-28, the stock opened at 64.31500244140625 and closed at 68.33999633789062.
On 2020-03-02, the stock opened at 70.56999969482422 and closed at 74.70249938964844.
On 2020-03-03, the stock opened at 75.9175033569336 and closed at 72.33000183105469.
On 2020-03-04, the stock opened at 74.11000061035156 and closed at 75.68499755859375.
On 2020-03-05, the stock opened at 73.87999725341797 and closed at 73.2300033569336.
On 2020-03-06, the stock opened at 70.5 and closed at 72.25749969482422.
On 2020-03-09, the stock opened at 65.9375 and closed at 66.5425033569336.
On 2020-03-10, the stock opened at 69.28500366210938 and closed at 71.33499908447266.
On 2020-03-11, the stock opened at 69.34750366210938 and closed at 68.85749816894531.
On 2020-03-12, the stock opened at 63.98500061035156 and closed at 62.057498931884766.
On 2020-03-13, the stock opened at 66.22250366210938 and closed at 69.49250030517578.
On 2020-03-16, the stock opened at 60.48749923706055 and closed at 60.5525016784668.
On 2020-03-17, the stock opened at 61.87749862670898 and closed at 63.21500015258789.
On 2020-03-18, the stock opened at 59.942501068115234 and closed at 61.66749954223633.
On 2020-03-19, the stock opened at 61.84749984741211 and closed at 61.19499969482422.
On 2020-03-20, the stock opened at 61.79499816894531 and closed at 57.310001373291016.
On 2020-03-23, the stock opened at 57.02000045776367 and closed at 56.09249877929688.
On 2020-03-24, the stock opened at 59.09000015258789 and closed at 61.720001220703125.
On 2020-03-25, the stock opened at 62.6875 and closed at 61.380001068115234.
On 2020-03-26, the stock opened at 61.630001068115234 and closed at 64.61000061035156.
On 2020-03-27, the stock opened at 63.1875 and closed at 61.935001373291016.
On 2020-03-30, the stock opened at 62.685001373291016 and closed at 63.70249938964844.
On 2020-03-31, the stock opened at 63.900001525878906 and closed at 63.5724983215332.
On 2020-04-01, the stock opened at 61.625 and closed at 60.227500915527344.
On 2020-04-02, the stock opened at 60.084999084472656 and closed at 61.23249816894531.
On 2020-04-03, the stock opened at 60.70000076293945 and closed at 60.352500915527344.
On 2020-04-06, the stock opened at 62.72499847412109 and closed at 65.61750030517578.
On 2020-04-07, the stock opened at 67.69999694824219 and closed at 64.85749816894531.
On 2020-04-08, the stock opened at 65.68499755859375 and closed at 66.51750183105469.
On 2020-04-09, the stock opened at 67.17500305175781 and closed at 66.99749755859375.
On 2020-04-13, the stock opened at 67.07749938964844 and closed at 68.3125.
On 2020-04-14, the stock opened at 70.0 and closed at 71.76249694824219.
On 2020-04-15, the stock opened at 70.5999984741211 and closed at 71.10749816894531.
On 2020-04-16, the stock opened at 71.84500122070312 and closed at 71.67250061035156.
On 2020-04-17, the stock opened at 71.17250061035156 and closed at 70.69999694824219.
On 2020-04-20, the stock opened at 69.48750305175781 and closed at 69.23249816894531.
On 2020-04-21, the stock opened at 69.06999969482422 and closed at 67.09249877929688.
On 2020-04-22, the stock opened at 68.40249633789062 and closed at 69.0250015258789.
On 2020-04-23, the stock opened at 68.96749877929688 and closed at 68.75749969482422.
On 2020-04-24, the stock opened at 69.30000305175781 and closed at 70.74250030517578.
On 2020-04-27, the stock opened at 70.44999694824219 and closed at 70.7925033569336.
On 2020-04-28, the stock opened at 71.2699966430664 and closed at 69.6449966430664.
On 2020-04-29, the stock opened at 71.18250274658203 and closed at 71.93250274658203.
On 2020-04-30, the stock opened at 72.48999786376953 and closed at 73.44999694824219.
On 2020-05-01, the stock opened at 71.5625 and closed at 72.26750183105469.
On 2020-05-04, the stock opened at 72.2925033569336 and closed at 73.29000091552734.
On 2020-05-05, the stock opened at 73.76499938964844 and closed at 74.38999938964844.
On 2020-05-06, the stock opened at 75.11499786376953 and closed at 75.15750122070312.
On 2020-05-07, the stock opened at 75.80500030517578 and closed at 75.93499755859375.
On 2020-05-08, the stock opened at 76.41000366210938 and closed at 77.53250122070312.
On 2020-05-11, the stock opened at 77.0250015258789 and closed at 78.75250244140625.
On 2020-05-12, the stock opened at 79.4574966430664 and closed at 77.85250091552734.
On 2020-05-13, the stock opened at 78.0374984741211 and closed at 76.9124984741211.
On 2020-05-14, the stock opened at 76.12750244140625 and closed at 77.38500213623047.
On 2020-05-15, the stock opened at 75.0875015258789 and closed at 76.92749786376953.
On 2020-05-18, the stock opened at 78.2925033569336 and closed at 78.73999786376953.
On 2020-05-19, the stock opened at 78.75749969482422 and closed at 78.28500366210938.
On 2020-05-20, the stock opened at 79.16999816894531 and closed at 79.80750274658203.
On 2020-05-21, the stock opened at 79.66500091552734 and closed at 79.2125015258789.
On 2020-05-22, the stock opened at 78.94249725341797 and closed at 79.72250366210938.
On 2020-05-26, the stock opened at 80.875 and closed at 79.18250274658203.
On 2020-05-27, the stock opened at 79.03500366210938 and closed at 79.52749633789062.
On 2020-05-28, the stock opened at 79.19249725341797 and closed at 79.5625.
On 2020-05-29, the stock opened at 79.8125 and closed at 79.48500061035156.
On 2020-06-01, the stock opened at 79.4375 and closed at 80.4625015258789.
On 2020-06-02, the stock opened at 80.1875 and closed at 80.83499908447266.
On 2020-06-03, the stock opened at 81.16500091552734 and closed at 81.27999877929688.
On 2020-06-04, the stock opened at 81.09750366210938 and closed at 80.58000183105469.
On 2020-06-05, the stock opened at 80.8375015258789 and closed at 82.875.
On 2020-06-08, the stock opened at 82.5625 and closed at 83.36499786376953.
On 2020-06-09, the stock opened at 83.03500366210938 and closed at 85.99749755859375.
On 2020-06-10, the stock opened at 86.9749984741211 and closed at 88.20999908447266.
On 2020-06-11, the stock opened at 87.32749938964844 and closed at 83.9749984741211.
On 2020-06-12, the stock opened at 86.18000030517578 and closed at 84.69999694824219.
On 2020-06-15, the stock opened at 83.3125 and closed at 85.74749755859375.
On 2020-06-16, the stock opened at 87.86499786376953 and closed at 88.0199966430664.
On 2020-06-17, the stock opened at 88.7874984741211 and closed at 87.89749908447266.
On 2020-06-18, the stock opened at 87.85250091552734 and closed at 87.93250274658203.
On 2020-06-19, the stock opened at 88.66000366210938 and closed at 87.43000030517578.
On 2020-06-22, the stock opened at 87.83499908447266 and closed at 89.71749877929688.
On 2020-06-23, the stock opened at 91.0 and closed at 91.63249969482422.
On 2020-06-24, the stock opened at 91.25 and closed at 90.01499938964844.
On 2020-06-25, the stock opened at 90.1750030517578 and closed at 91.20999908447266.
On 2020-06-26, the stock opened at 91.10250091552734 and closed at 88.40750122070312.
On 2020-06-29, the stock opened at 88.3125 and closed at 90.44499969482422.
On 2020-06-30, the stock opened at 90.0199966430664 and closed at 91.1999969482422.
On 2020-07-01, the stock opened at 91.27999877929688 and closed at 91.02749633789062.
On 2020-07-02, the stock opened at 91.9625015258789 and closed at 91.02749633789062.
On 2020-07-06, the stock opened at 92.5 and closed at 93.4625015258789.
On 2020-07-07, the stock opened at 93.85250091552734 and closed at 93.17250061035156.
On 2020-07-08, the stock opened at 94.18000030517578 and closed at 95.34249877929688.
On 2020-07-09, the stock opened at 96.2624969482422 and closed at 95.75250244140624.
On 2020-07-10, the stock opened at 95.33499908447266 and closed at 95.91999816894533.
On 2020-07-13, the stock opened at 97.26499938964844 and closed at 95.47750091552734.
On 2020-07-14, the stock opened at 94.83999633789062 and closed at 97.05750274658205.
On 2020-07-15, the stock opened at 98.98999786376952 and closed at 97.7249984741211.
On 2020-07-16, the stock opened at 96.5625 and closed at 96.52249908447266.
On 2020-07-17, the stock opened at 96.9875030517578 and closed at 96.32749938964844.
On 2020-07-20, the stock opened at 96.4175033569336 and closed at 98.35749816894533.
On 2020-07-21, the stock opened at 99.17250061035156 and closed at 97.0.
On 2020-07-22, the stock opened at 96.69249725341795 and closed at 97.27249908447266.
On 2020-07-23, the stock opened at 96.99749755859376 and closed at 92.84500122070312.
On 2020-07-24, the stock opened at 90.9875030517578 and closed at 92.61499786376952.
On 2020-07-27, the stock opened at 93.70999908447266 and closed at 94.80999755859376.
On 2020-07-28, the stock opened at 94.36750030517578 and closed at 93.25250244140624.
On 2020-07-29, the stock opened at 93.75 and closed at 95.04000091552734.
On 2020-07-30, the stock opened at 94.1875 and closed at 96.19000244140624.
On 2020-07-31, the stock opened at 102.88500213623048 and closed at 106.26000213623048.
On 2020-08-03, the stock opened at 108.1999969482422 and closed at 108.9375.
On 2020-08-04, the stock opened at 109.13249969482422 and closed at 109.66500091552734.
On 2020-08-05, the stock opened at 109.37750244140624 and closed at 110.0625.
On 2020-08-06, the stock opened at 110.40499877929688 and closed at 113.90249633789062.
On 2020-08-07, the stock opened at 113.20500183105467 and closed at 111.1125030517578.
On 2020-08-10, the stock opened at 112.5999984741211 and closed at 112.72750091552734.
On 2020-08-11, the stock opened at 111.97000122070312 and closed at 109.375.
On 2020-08-12, the stock opened at 110.49749755859376 and closed at 113.01000213623048.
On 2020-08-13, the stock opened at 114.43000030517578 and closed at 115.01000213623048.
On 2020-08-14, the stock opened at 114.83000183105467 and closed at 114.90750122070312.
On 2020-08-17, the stock opened at 116.0625 and closed at 114.60749816894533.
On 2020-08-18, the stock opened at 114.35250091552734 and closed at 115.5625.
On 2020-08-19, the stock opened at 115.98249816894533 and closed at 115.7074966430664.
On 2020-08-20, the stock opened at 115.75 and closed at 118.2750015258789.
On 2020-08-21, the stock opened at 119.2624969482422 and closed at 124.37000274658205.
On 2020-08-24, the stock opened at 128.69749450683594 and closed at 125.85749816894533.
On 2020-08-25, the stock opened at 124.69750213623048 and closed at 124.8249969482422.
On 2020-08-26, the stock opened at 126.18000030517578 and closed at 126.52249908447266.
On 2020-08-27, the stock opened at 127.14250183105467 and closed at 125.01000213623048.
On 2020-08-28, the stock opened at 126.0124969482422 and closed at 124.80750274658205.
On 2020-08-31, the stock opened at 127.58000183105467 and closed at 129.0399932861328.
On 2020-09-01, the stock opened at 132.75999450683594 and closed at 134.17999267578125.
On 2020-09-02, the stock opened at 137.58999633789062 and closed at 131.39999389648438.
On 2020-09-03, the stock opened at 126.91000366210938 and closed at 120.87999725341795.
On 2020-09-04, the stock opened at 120.06999969482422 and closed at 120.95999908447266.
On 2020-09-08, the stock opened at 113.9499969482422 and closed at 112.81999969482422.
On 2020-09-09, the stock opened at 117.26000213623048 and closed at 117.31999969482422.
On 2020-09-10, the stock opened at 120.36000061035156 and closed at 113.48999786376952.
On 2020-09-11, the stock opened at 114.56999969482422 and closed at 112.0.
On 2020-09-14, the stock opened at 114.72000122070312 and closed at 115.36000061035156.
On 2020-09-15, the stock opened at 118.33000183105467 and closed at 115.54000091552734.
On 2020-09-16, the stock opened at 115.2300033569336 and closed at 112.12999725341795.
On 2020-09-17, the stock opened at 109.72000122070312 and closed at 110.33999633789062.
On 2020-09-18, the stock opened at 110.4000015258789 and closed at 106.83999633789062.
On 2020-09-21, the stock opened at 104.54000091552734 and closed at 110.08000183105467.
On 2020-09-22, the stock opened at 112.68000030517578 and closed at 111.80999755859376.
On 2020-09-23, the stock opened at 111.62000274658205 and closed at 107.12000274658205.
On 2020-09-24, the stock opened at 105.16999816894533 and closed at 108.22000122070312.
On 2020-09-25, the stock opened at 108.43000030517578 and closed at 112.27999877929688.
On 2020-09-28, the stock opened at 115.01000213623048 and closed at 114.95999908447266.
On 2020-09-29, the stock opened at 114.5500030517578 and closed at 114.08999633789062.
On 2020-09-30, the stock opened at 113.79000091552734 and closed at 115.80999755859376.
On 2020-10-01, the stock opened at 117.63999938964844 and closed at 116.79000091552734.
On 2020-10-02, the stock opened at 112.88999938964844 and closed at 113.0199966430664.
On 2020-10-05, the stock opened at 113.91000366210938 and closed at 116.5.
On 2020-10-06, the stock opened at 115.6999969482422 and closed at 113.16000366210938.
On 2020-10-07, the stock opened at 114.62000274658205 and closed at 115.08000183105467.
On 2020-10-08, the stock opened at 116.25 and closed at 114.97000122070312.
On 2020-10-09, the stock opened at 115.27999877929688 and closed at 116.97000122070312.
On 2020-10-12, the stock opened at 120.05999755859376 and closed at 124.4000015258789.
On 2020-10-13, the stock opened at 125.2699966430664 and closed at 121.0999984741211.
On 2020-10-14, the stock opened at 121.0 and closed at 121.19000244140624.
On 2020-10-15, the stock opened at 118.72000122070312 and closed at 120.70999908447266.
On 2020-10-16, the stock opened at 121.27999877929688 and closed at 119.0199966430664.
On 2020-10-19, the stock opened at 119.95999908447266 and closed at 115.9800033569336.
On 2020-10-20, the stock opened at 116.1999969482422 and closed at 117.51000213623048.
On 2020-10-21, the stock opened at 116.66999816894533 and closed at 116.87000274658205.
On 2020-10-22, the stock opened at 117.4499969482422 and closed at 115.75.
On 2020-10-23, the stock opened at 116.38999938964844 and closed at 115.04000091552734.
On 2020-10-26, the stock opened at 114.01000213623048 and closed at 115.0500030517578.
On 2020-10-27, the stock opened at 115.48999786376952 and closed at 116.5999984741211.
On 2020-10-28, the stock opened at 115.0500030517578 and closed at 111.1999969482422.
On 2020-10-29, the stock opened at 112.37000274658205 and closed at 115.31999969482422.
On 2020-10-30, the stock opened at 111.05999755859376 and closed at 108.86000061035156.
On 2020-11-02, the stock opened at 109.11000061035156 and closed at 108.7699966430664.
On 2020-11-03, the stock opened at 109.66000366210938 and closed at 110.44000244140624.
On 2020-11-04, the stock opened at 114.13999938964844 and closed at 114.9499969482422.
On 2020-11-05, the stock opened at 117.9499969482422 and closed at 119.02999877929688.
On 2020-11-06, the stock opened at 118.31999969482422 and closed at 118.69000244140624.
On 2020-11-09, the stock opened at 120.5 and closed at 116.31999969482422.
On 2020-11-10, the stock opened at 115.5500030517578 and closed at 115.97000122070312.
On 2020-11-11, the stock opened at 117.19000244140624 and closed at 119.48999786376952.
On 2020-11-12, the stock opened at 119.62000274658205 and closed at 119.20999908447266.
On 2020-11-13, the stock opened at 119.44000244140624 and closed at 119.26000213623048.
On 2020-11-16, the stock opened at 118.91999816894533 and closed at 120.3000030517578.
On 2020-11-17, the stock opened at 119.5500030517578 and closed at 119.38999938964844.
On 2020-11-18, the stock opened at 118.61000061035156 and closed at 118.02999877929688.
On 2020-11-19, the stock opened at 117.58999633789062 and closed at 118.63999938964844.
On 2020-11-20, the stock opened at 118.63999938964844 and closed at 117.33999633789062.
On 2020-11-23, the stock opened at 117.18000030517578 and closed at 113.8499984741211.
On 2020-11-24, the stock opened at 113.91000366210938 and closed at 115.16999816894533.
On 2020-11-25, the stock opened at 115.5500030517578 and closed at 116.02999877929688.
On 2020-11-27, the stock opened at 116.56999969482422 and closed at 116.58999633789062.
On 2020-11-30, the stock opened at 116.97000122070312 and closed at 119.0500030517578.
On 2020-12-01, the stock opened at 121.01000213623048 and closed at 122.72000122070312.
On 2020-12-02, the stock opened at 122.0199966430664 and closed at 123.08000183105467.
On 2020-12-03, the stock opened at 123.5199966430664 and closed at 122.94000244140624.
On 2020-12-04, the stock opened at 122.5999984741211 and closed at 122.25.
On 2020-12-07, the stock opened at 122.30999755859376 and closed at 123.75.

In [108]:
print(len(s), len(narrative))

8381 21415

In [26]:
ticker = 'AAPL' 
stock = yf.Ticker(ticker)
print(len(stock.info.keys()))
for key in stock.info.keys():
    if 'earn' in key.lower() or 'price' in key.lower() or 'financ' in key.lower() or 'revenue' in key.lower() or 'profit' in key.lower():
        print(key)

129
priceHint
priceToSalesTrailing12Months
profitMargins
priceToBook
earningsQuarterlyGrowth
enterpriseToRevenue
currentPrice
targetHighPrice
targetLowPrice
targetMeanPrice
targetMedianPrice
totalRevenue
revenuePerShare
earningsGrowth
revenueGrowth
financialCurrency

In [5]:
# API_KEY = 'UJ0Z4PLU9AB6OR62'
# EPS_data = {}
# for ticker in tqdm(tickers):
#     url = f'https://www.alphavantage.co/query?function=EARNINGS&symbol={ticker}&apikey={API_KEY}'
#     try:
#         r = requests.get(url)
#         if r.status_code != 200:
#             print(f'Error fetching data for {ticker}')
#             continue
#         data = r.json()
#         EPS_data[ticker] = data
#         if len(EPS_data) == 5:
#             break # testing
#     except:
#         print(f'Error fetching data for {ticker}')
#         continue
# print(len(EPS_data))

  0%|          | 0/500 [00:00<?, ?it/s]

  1%|          | 4/500 [05:07<10:34:49, 76.79s/it]

5

KeyError: 'AAPL'

In [7]:
# print(EPS_data.keys())
# print(EPS_data['MMM'])

dict_keys(['MMM', 'AOS', 'ABT', 'ABBV', 'ACN'])

In [66]:
import json
with open('eps_history/data-AAPL.json', 'r') as f:
    eps_dict = json.load(f)
eps_dict.keys()

dict_keys(['symbol', 'annualEarnings', 'quarterlyEarnings'])

In [67]:
eps_dict['symbol']

'AAPL'

In [69]:
len(eps_dict['quarterlyEarnings'])

112

In [70]:
len(eps_dict['annualEarnings'])

29

In [71]:
quarterly_eps = eps_dict['quarterlyEarnings']
annual_eps = eps_dict['annualEarnings']

In [72]:
quarterly_eps[0].keys()

dict_keys(['fiscalDateEnding', 'reportedDate', 'reportedEPS', 'estimatedEPS', 'surprise', 'surprisePercentage'])

In [73]:
annual_eps[0].keys()

dict_keys(['fiscalDateEnding', 'reportedEPS'])

In [74]:
quarterly_eps[0]

{'fiscalDateEnding': '2023-12-31',
 'reportedDate': '2024-02-01',
 'reportedEPS': '2.18',
 'estimatedEPS': '2.1',
 'surprise': '0.08',
 'surprisePercentage': '3.8095'}

In [96]:
quarterly_eps_df = pd.DataFrame(quarterly_eps)
quarterly_eps_df.head()

,fiscalDateEnding,reportedDate,reportedEPS,estimatedEPS,surprise,surprisePercentage
0,2023-12-31,2024-02-01,2.18,2.1,0.08,3.8095
1,2023-09-30,2023-11-02,1.46,1.39,0.07,5.036
2,2023-06-30,2023-08-03,1.26,1.19,0.07,5.8824
3,2023-03-31,2023-05-04,1.52,1.43,0.09,6.2937
4,2022-12-31,2023-02-02,1.88,1.94,-0.06,-3.0928

In [97]:
start = '2020-03-14'
end = '2021-5-18'
quarterly_eps_df = quarterly_eps_df[quarterly_eps_df['fiscalDateEnding'].between(start, end)]
quarterly_eps_df.head()

,fiscalDateEnding,reportedDate,reportedEPS,estimatedEPS,surprise,surprisePercentage
8,2021-12-31,2022-01-27,2.1,1.89,0.21,11.1111
9,2021-09-30,2021-10-28,1.24,1.24,0,0
10,2021-06-30,2021-07-27,1.3,1.01,0.29,28.7129
11,2021-03-31,2021-04-28,1.4,0.99,0.41,41.4141
12,2020-12-31,2021-01-27,1.68,1.41,0.27,19.1489

In [85]:
structured_quarterly_eps = quarterly_eps_df.to_string(header=True, index=False)
print(structured_quarterly_eps)

fiscalDateEnding reportedDate reportedEPS estimatedEPS surprise surprisePercentage
      2020-12-31   2021-01-27        1.68         1.41     0.27            19.1489
      2020-09-30   2020-10-29        0.73          0.7     0.03             4.2857
      2020-06-30   2020-07-30        0.65         0.51     0.14             27.451
      2020-03-31   2020-04-30        0.64         0.56     0.08            14.2857

In [86]:
narrative_quarterly_eps = '\n'.join([
    f"On {row.reportedDate}, EPS was reported for fiscal date ended on {row.fiscalDateEnding}, which was {row.reportedEPS} \
compared to estimated {row.estimatedEPS}. The surprise was {row.surprise} with a percentage of {row.surprisePercentage}."
    for row in quarterly_eps_df.itertuples()
])
print(narrative_quarterly_eps)

On 2021-01-27, EPS was reported for fiscal date ended on 2020-12-31, which was 1.68 compared to estimated 1.41. The surprise was 0.27 with a percentage of 19.1489.
On 2020-10-29, EPS was reported for fiscal date ended on 2020-09-30, which was 0.73 compared to estimated 0.7. The surprise was 0.03 with a percentage of 4.2857.
On 2020-07-30, EPS was reported for fiscal date ended on 2020-06-30, which was 0.65 compared to estimated 0.51. The surprise was 0.14 with a percentage of 27.451.
On 2020-04-30, EPS was reported for fiscal date ended on 2020-03-31, which was 0.64 compared to estimated 0.56. The surprise was 0.08 with a percentage of 14.2857.

In [87]:
print(len(structured_quarterly_eps), len(narrative_quarterly_eps))

414 652